<!-- 
<div class="ads-list">

  <div *ngFor="let ad of ads" class="ad-item">
    <h3>{{ ad.title }}</h3>
    <p>{{ ad.description }}</p>
    <p>Likes: {{ ad.likes }}</p>
    <button (click)="navigateToDetails(ad._id)">Details</button>
   
  </div>
</div> -->

<div *ngFor="let ad of displayedAds">

  <div>{{ ad.title }}</div>
  <p>Likes: {{ ad.likes }}</p>
  <button (click)="navigateToDetails(ad._id)">View Details</button>
</div>


<div *ngIf="totalPages > 1" class="pagination">
  <button (click)="changePage(1)" [disabled]="currentPage === 1">First</button>
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
</div>


  

  

  