

  

  

<div class="container">
  <div *ngFor="let ad of displayedAds" class="ad-card">
    <h3>{{ ad.title }}</h3>
    <p>Likes: {{ ad.likes }}</p>
    <button class="btn view-details" (click)="navigateToDetails(ad._id)">View Details</button>
   
  </div>

 
  <div *ngIf="totalPages > 1" class="pagination">
    <button class="btn pagination-btn" (click)="changePage(1)" [disabled]="currentPage === 1">First</button>
    <button class="btn pagination-btn" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
    <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn pagination-btn" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    <button class="btn pagination-btn" (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
  </div>
</div>
